@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Lora');
@tailwind base;
@tailwind components;
@tailwind utilities;



.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.btn {
  @apply bg-slate-800 text-white font-semibold px-3 py-3 cursor-pointer text-center shadow-lg hover:bg-slate-700 rounded-lg
}

.admin-btn {
  @apply bg-red-900 text-white font-semibold px-3 py-3 cursor-pointer text-center shadow-lg hover:bg-red-950 rounded-lg
}

input[type="text"], input[type="password"] {
  @apply px-4
}

.btn-sm {
  @apply !p-2
}

.add {
  @apply rounded-full bg-slate-700 w-8 h-8 flex items-center justify-center text-white font-semibold shadow-lg hover:bg-slate-600 cursor-pointer
}

.admin-add {
  @apply rounded-full bg-red-900 w-8 h-8 flex items-center justify-center text-white font-semibold shadow-lg hover:bg-red-950 cursor-pointer
}


/* .menu-item {
  @apply w-32 flex items-center flex-col justify-center h-48
}

.action {
  @apply text-slate-700 hover:text-amber-600
} */
